<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Aluno - EducaLink</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container-central">

        <div class="card-escolha">

            <div class="card-aluno">

                <h1>Bem-vindo ao Login do Aluno!</h1>
                <p>Aqui você pode acessar suas aulas, materiais e atividades.</p>

                <input type="text" placeholder="Matrícula" style="margin-bottom: 10px; padding: 5px;"><br>
                <input type="password" placeholder="Senha" style="margin-bottom: 10px; padding: 5px;"><br>
                
                <div class="botoes">

                    <a href="/" class="botao_voltar">Voltar</a>
                    <button class="botao">Entrar</button>

                </div>

            </div>

        </div>

    </div>
    
</body>
</html>