<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducaLink</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container-central">

        <div class="card-escolha">

            <h1>Bem-vindo ao EducaLink</h1>

            <p>
                Escolha como deseja acessar a plataforma.
            </p>

            <div class="botoes">

                <a href="/login_aluno" class="botao">
                    Aluno
                </a>

                <a href="/login_professor" class="botao">
                    Professor
                </a>

            </div>

        </div>

    </div>

</body>
</html>