<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Professor - EducaLink</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container-central">

        <div class="card-escolha">

            <h1>Área do Professor</h1>

            <p>
                Faça login para acessar turmas e materiais.
            </p>

            <form>

                <input type="text" placeholder="Matrícula">

                <input type="password" placeholder="Senha">

                <div class="botoes">

                    <a href="/" class="botao_voltar">
                        Voltar
                    </a>

                    <button type="submit" class="botao">
                        Entrar
                    </button>

                </div>

            </form>

        </div>

    </div>

</body>
</html>